* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

.main-container {
	width: 100%;
	height: 100vh;
}

.cert-container {
	width: 70%;
	height: 90%;
}

.background {
  background-image: url("../images/UOB.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.header {
	position: absolute;
	top: 0;
	left: 55px;
	width: calc(100% - 55px);
	height: 58px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: #232835;
}

.sidebar {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 55px;
	height: 100vh;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgb(0 0 0/ 10%) 1px 1px 5px;
	background: #232835;
}


.pie {
  --w:150px;
  
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}


.line {
	width: 102%;
	height: 47px;
	top: 40%;
	left: -2%;
	border-bottom: 1px solid black;
	position: absolute;
}

.link-item-h {
	padding: 5px;
	color: #959494;
}

.link-item-h-admin {
	padding: 30px;
	color: #959494;
}

.first-item {
	position: absolute;
  	left: -5px;
}

.link-item-s {
	padding: 10px;
	color: #959494;
}

.link-item-s {
	margin-bottom: 5px;
}

.item-margin-2 {
	margin-top: 20px;
}

.item-last {
	position: absolute;
	bottom: 10px;
}

img {
	width: 70px;
}
.leftsidebar {
	width: 300px;
}
.rightsidebar {
	width: 220px;
}

.left-item {
	display: flex;
	width: 10%;
}

.right-item {
	display: flex;
	width: 10%;
}

.left-item {
	flex-direction: row-reverse;
}

.middle-item {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
	position: absolute;
  	left: 150px;
}

.middle-item-admin {
	display: flex;
	justify-content: space-evenly;
	width: 60%;
	position: absolute;
  	left: 130px;
}

.staff-cont {
	width: 30%;
	display: flex;
	flex-direction: row-reverse;
}

.staff-cont {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
  	right: -5px;
}

.staff-cont-admin {
	width: 30%;
	display: flex;
	flex-direction: row-reverse;
}

.staff-cont-admin {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
  	right: -5px;
}

.staff-icon {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 40px;
	height: 40px;
	position: relative;
	background-color: #ccc;
	border-radius: 50%;
}

.margin-left-2 {
	margin-left: 20px;
}

.margin-left-3 {
	margin-left: 10px;
}

a {
	background-color: transparent;
	color: #808080;
}

a:link {
	color: #fff;
	text-decoration: none;
}

a:hover {
	color: #a7a7ca;
}


.ah {
	background-color: transparent;
	color: #fff;
}

.ah:link {
	color: #fff;
	text-decoration: none;
}

ah:hover {
	color: #a7a7ca;
}



.footer {
	position: fixed;
	left: 55px;
	bottom: 0;
	width: calc(100% - 55px);
	background-color: #343a40 !important;
	justify-content: space-evenly;
	color: #fff;
	text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
  transition: all .3s ease-in-out;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
  background: #000;
  color:#fff;
}
.background {
  background-image: url("../images/UOB.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.card{
  min-height: 550px;
  width: 300px;
  margin: 5rem;
  border-radius: 15px;
  background: #232835;
  float: left;
}

.card .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #ddd;
}

.card .header .title{
  font-weight: 300;
}

.one .sort{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14.1px;
}

.pie {
  --w:150px;
  
  width: var(--w);
  aspect-ratio: 1;
  position: relative;
  display: inline-grid;
  place-content: center;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
.pie:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.one .sort .day{
  padding: 0.4rem 1.2rem;
  margin: 0 0.1rem;
  cursor: pointer;
}

.one .sort .day.active,
.one .sort .day:active{
  background: rgba(210, 255, 213, 0.3);
  border-radius: 25px;
}



::selection{
  background: rgba(210, 255, 213, 0.3);
}

.photo{
  width: 75px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid cyan;
  box-shadow: 0 0 20px cyan;
  margin: 1rem 0;
}

.main{
  width: 85px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.profile .person{
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile .person.first{
  z-index: 10;
  transform: translateY(-10%);
}

.first .fa-crown{
  color: gold;
  filter: drop-shadow(0px 0px 5px gold);
}

.num{
  color: white;
}

.fa-caret-up{
  color: cyan;
  font-size: 21px;
}

.link{
  margin: 0.2rem 0;
  color: #fff;
  margin-top: -0.3rem;
  font-size: 13px;
  word-wrap: break-word;
}

.points{
  color: cyan;
  font-size: 17px;
}

.second{
  margin-right: -0.7rem !important;
}

.third{
  margin-left: -0.7rem !important;
}

.p_img{
  width: 50px;
  background: #fff;
  border-radius: 50%;
}

.flex{
  display: flex;
  align-items: center;
}

.others{
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background: rgba(210, 255, 213, 0.3);
}

.info .points{
  margin-left: 0.2rem;
  margin-right: 1.2rem;
}

.info .link{
  margin: 0 1rem;
}

.rank{
  display: flex;
  align-items: center;
  margin: 0 1rem;
  flex-direction: column-reverse;
}

.rank i{
  margin-top: -5px !important;
}

.rank .num{
  margin: 0 !important; 
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.button-1:hover {
  background-color: #F082AC;
}

.button-3 {
  background-color: #2ea44f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.button-3:hover {
  background-color: #2c974b;
}

.certhead {
  font-family: Marker Felt;
  font-size: 40px;
  color: #ff0707ed;
  margin-left: 3%;
  margin-top: 7%;
}
.certheadAchieve {
  font-family: Comic Sans MS;
  font-size: 20px;
  color: #0e59b9;
  margin-left: 3%;
  margin-top: -3%;
}
.hr {
  border:none;
  border-top:1px dashed #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:45%;
  margin-left: 3%;
}
.certpresent {
  margin-left: 3%;
  margin-top: 8%;
  margin-bottom: 5%;
  color:#dfdbdb;
}

.module-border-wrap {
  min-width: 40px;
  position: fixed;
  background: linear-gradient(to right, #ff0707ed, #0e59b9);
  padding: 3px;
  margin-left: 1%;
  color: white;
  font-family: Apple Chancery;
  font-size: 30px;
}


.module {
  background: #222;
  color: white;
  padding: 2rem;
  margin-left: 3%;
}

.certcontent {
  margin-left: 3%;
  margin-top: 20%;
  margin-bottom: 3%;
  color:#dfdbdb;
}
.certdatedis{
	margin-left: 5%;
  	margin-top: 30%;
  	color:#dfdbdb;
}
.certsigndis{
	margin-left: 6%;
  	margin-top: 30%;
  	color:#dfdbdb;
}
.certdate{
	margin-left: 30%;
	margin-top: 1%;
	color:#dfdbdb;
}
